<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SoundSyncGUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <SoundSyncGUI.Properties.Settings>
            <setting name="chooseDirectory" serializeAs="String">
                <value/>
            </setting>
            <setting name="savedDirectory" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="userSaved" serializeAs="String">
                <value/>
            </setting>
            <setting name="apiKey" serializeAs="String">
                <value></value>
            </setting>
        </SoundSyncGUI.Properties.Settings>
    </userSettings>
</configuration>
